body {
  background: #e6e6e6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  height: 100vh;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.keyboard-container {
  position: relative;
  height: 200px;
  max-width: 95vw;
  padding-bottom: 4em;
}
#keyboard {
  margin: 2em 0;
}
#keyboardBox {
  margin: 2em 0;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}
.slide-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1em;
}

@media screen and (max-width: 1275px) {
  .keyboard-container {
    overflow: auto;
    overflow-y: hidden;
  }
}
